<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>4_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>A_Servlet</display-name>
    <servlet-name>A_Servlet</servlet-name>
    <servlet-class>com.zr.A_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A_Servlet</servlet-name>
    <url-pattern>/A_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B_Servlet</display-name>
    <servlet-name>B_Servlet</servlet-name>
    <servlet-class>com.zr.B_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B_Servlet</servlet-name>
    <url-pattern>/B_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.history.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestGenericServlet</display-name>
    <servlet-name>TestGenericServlet</servlet-name>
    <servlet-class>com.history.TestGenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestGenericServlet</servlet-name>
    <url-pattern>/TestGenericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestHttpServlet</display-name>
    <servlet-name>TestHttpServlet</servlet-name>
    <servlet-class>com.history.TestHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestHttpServlet</servlet-name>
    <url-pattern>/TestHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Err</display-name>
    <servlet-name>Err</servlet-name>
    <servlet-class>com.login.Err</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/Err</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest1</display-name>
    <servlet-name>CookieTest1</servlet-name>
    <servlet-class>com.tsinghua.CookieTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest1</servlet-name>
    <url-pattern>/CookieTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest2</display-name>
    <servlet-name>CookieTest2</servlet-name>
    <servlet-class>com.tsinghua.CookieTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest2</servlet-name>
    <url-pattern>/CookieTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest3</display-name>
    <servlet-name>CookieTest3</servlet-name>
    <servlet-class>com.tsinghua.CookieTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest3</servlet-name>
    <url-pattern>/CookieTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenForm1</display-name>
    <servlet-name>HiddenForm1</servlet-name>
    <servlet-class>com.tsinghua.HiddenForm1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenForm1</servlet-name>
    <url-pattern>/HiddenForm1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenForm2</display-name>
    <servlet-name>HiddenForm2</servlet-name>
    <servlet-class>com.tsinghua.HiddenForm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenForm2</servlet-name>
    <url-pattern>/HiddenForm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest1</display-name>
    <servlet-name>SessionTest1</servlet-name>
    <servlet-class>com.tsinghua.SessionTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest1</servlet-name>
    <url-pattern>/SessionTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest2</display-name>
    <servlet-name>SessionTest2</servlet-name>
    <servlet-class>com.tsinghua.SessionTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest2</servlet-name>
    <url-pattern>/SessionTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest3</display-name>
    <servlet-name>SessionTest3</servlet-name>
    <servlet-class>com.tsinghua.SessionTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest3</servlet-name>
    <url-pattern>/SessionTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFileTest1</display-name>
    <servlet-name>ServletFileTest1</servlet-name>
    <servlet-class>com.tsinghua.ServletFileTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFileTest1</servlet-name>
    <url-pattern>/ServletFileTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFileTest2</display-name>
    <servlet-name>ServletFileTest2</servlet-name>
    <servlet-class>com.tsinghua.ServletFileTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFileTest2</servlet-name>
    <url-pattern>/ServletFileTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest1</display-name>
    <servlet-name>ServletContextTest1</servlet-name>
    <servlet-class>com.tsinghua.ServletContextTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest1</servlet-name>
    <url-pattern>/ServletContextTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest2</display-name>
    <servlet-name>ServletContextTest2</servlet-name>
    <servlet-class>com.tsinghua.ServletContextTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest2</servlet-name>
    <url-pattern>/ServletContextTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginCl</display-name>
    <servlet-name>loginCl</servlet-name>
    <servlet-class>com.login.loginCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCl</servlet-name>
    <url-pattern>/loginCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCl</display-name>
    <servlet-name>updateCl</servlet-name>
    <servlet-class>com.login.updateCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCl</servlet-name>
    <url-pattern>/updateCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ok</display-name>
    <servlet-name>Ok</servlet-name>
    <servlet-class>com.login.Ok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ok</servlet-name>
    <url-pattern>/Ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wel</display-name>
    <servlet-name>Wel</servlet-name>
    <servlet-class>com.login.Wel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wel</servlet-name>
    <url-pattern>/Wel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserCl</display-name>
    <servlet-name>DelUserCl</servlet-name>
    <servlet-class>com.login.DelUserCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserCl</servlet-name>
    <url-pattern>/DelUserCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.login.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.login.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataSourceInitServlet</display-name>
    <servlet-name>DataSourceInitServlet</servlet-name>
    <servlet-class>com.jdbc.DataSourceInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSourceInitServlet</servlet-name>
    <url-pattern>/DataSourceInitServlet</url-pattern>
  </servlet-mapping>
</web-app>